<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>
  {{ if .IsHome }}
    {{ site.Title }}
  {{ else }}
    {{ printf "%s | %s" .Title site.Title }}
  {{ end }}
</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin />
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/gen-interface-jp@0.6.2/cdn/300.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/gen-interface-jp@0.6.2/cdn/400.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/gen-interface-jp@0.6.2/cdn/500.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/gen-interface-jp@0.6.2/cdn/600.css"
/>
